{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <div class="card-container d-flex justify-content-center">
        <div class="card" style="width: 40rem">
            <div class="card-body text-center">
                <h5 class="card-title"><span>{{ utilisateur.nom }}</span></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><span>{{ utilisateur.prenom }}</span></h6>
                <h6 class="card-subtitle mb-2 text-body-secondary"><span>{{ utilisateur.email }}</span></h6>
                {% if utilisateur.imageName %}
                    <img class="imgProfil" src="{{ asset('images/profil/' ~ utilisateur.imageName) }}" alt="Image du souhait"
                         style="max-width:300px;">
                {% endif %}
                <p class="card-text"><span>{{ utilisateur.telephone }}</span></p>
                {% if app.user and app.user.id == utilisateur.id %}
                    <a class="btn btn-primary " href="{{ path('utilisateur_profil_modifier',{'id':app.user.id}) }}">Modifier</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
