{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block body %}
    <h1 class="h1Page">Détail de la sortie</h1>
    <div class="container">
        <div class="card col-sm-8 mx-auto">
            <div class="card-body d-flex justify-content-between text-start">
                <div>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Nom de la sortie : </span> {{ sortie.nom }}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Date et heure de la sortie
                        : </span>{{ sortie.dateHeureDebut | date ("d/m/Y h:i") }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Inscription Max
                        : </span>{{ sortie.dateLimiteInscription | date ("d/m/Y") }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Date limite d'inscription
                        : </span>{{ sortie.nbInscriptionsMax }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <span>Nombre de places : </span>{{ sortie.duree }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Description et infos
                        : </span>{{ sortie.infosSortie }}</h6>
                </div>
                <div>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Campus : </span>{{ sortie.campus.nom }}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Lieu : </span>{{ sortie.lieu.nom }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Rue : </span>{{ sortie.lieu.rue }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><span>Code postal
                        : </span>{{ sortie.lieu.ville.codePostal }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <span>Latitude : </span>{{ sortie.lieu.latitude }}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <span>Longitude : </span>{{ sortie.lieu.longitude }}</h6>
                </div>
            </div>
        </div>

        <div class="mt-5 col-sm-8 mx-auto">
            <table class="table table-striped">
                <thead class="">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr style="cursor: pointer;"
                        onclick="window.location='{{ path('utilisateur_profil', {'id': participant.id}) }}'">
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if app.user.id == sortie.organisateur.id or is_granted('ROLE_ADMIN') %}
            <div class="mt-4 d-flex justify-content-center gap-2">
                <a class="btn btn-primary" href="{{ path('app_sortie_modifier',{'id':sortie.id}) }}">Modifier</a>
                <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" class="btn btn-danger">
                    Annuler la sortie
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
