{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="sortie__list">
        <h1 class="text-center h1Page">Liste des sorties</h1>

        <div class="col-sm-12 mb-5">
            <h3 class="">Filtrer les sorties</h3>
            <div class="d-flex">
                <div class="col-sm-3 pe-4">
                    <div>
                        <label for="form_sortie_campus">Campus</label>
                        <select name="form_sortie_campus" id="form_sortie_campus" class="form-control">
                            <option value="" selected>Tous les campus</option>
                            {% for campus in campusList %}
                                <option value="{{ campus.id }}">{{ campus.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="form_sortie_nom">Le nom de la sortie contient</label>
                        <input id="form_sortie_nom" name="form_sortie_nom" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 pe-4">
                    <div>
                        <label for="form_sortie_date_debut">Du</label>
                        <input name="form_sortie_date_debut" id="form_sortie_date_debut" type="date" class="form-control">
                    </div>
                    <div>
                        <label for="form_sortie_date_fin">au</label>
                        <input name="form_sortie_date_fin" id="form_sortie_date_fin" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 pt-4">
                    <div>
                        <input type="checkbox" id="form_sortie_organisateur" name="form_sortie_organisateur">
                        <label for="form_sortie_organisateur">Sorties dont je suis l'organisateur/trice</label>
                    </div>
                    <div>
                        <input type="checkbox" id="form_sortie_inscrit" name="form_sortie_inscrit">
                        <label for="form_sortie_inscrit">Sorties auxquelles je suis inscrit/e</label>
                    </div>
                    <div>
                        <input type="checkbox" id="form_sortie_non_inscrit" name="form_sortie_non_inscrit">
                        <label for="form_sortie_non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                    </div>
                    <div>
                        <input type="checkbox" id="form_sortie_passee" name="form_sortie_passee">
                        <label for="form_sortie_passee">Sorties passées</label>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                <tr
                    class="ligne_sortie"
                    id="sortie_{{ loop.index }}"
                    data-nom="{{ sortie.nom }}"
                    data-campus="{{ sortie.campus.id }}"
                    data-date="{{ sortie.dateHeureDebut|date('U') }}"
                    data-organisateur="{{ (app.user.id == sortie.organisateur.id) ? '1':'0' }}"
                    data-participant="{{ (app.user in sortie.participants) ? '1':'0' }}"
                >
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut |format_datetime('short', 'short', locale: 'fr') }}</td>
                    <td>{{ sortie.dateLimiteInscription |format_datetime('short', 'short', locale: 'fr') }}</td>
                    <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{{ (app.user in sortie.participants) ? 'x':'' }}</td>
                    <td>{{ sortie.organisateur.nom|upper ~ ' ' ~ sortie.organisateur.prenom }}</td>
                    <td>
                        <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                        {% if app.user in sortie.participants %}
                            <a class="sortie_desinscription" data-id="{{ sortie.id }}" href="">Se désister</a>
                        {% elseif (sortie.dateLimiteInscription < date() and sortie.participants | length < sortie.nbInscriptionsMax and (app.user != sortie.organisateur)) %}
                            <a class="sortie_inscription" data-id="{{ sortie.id }}" href="">S'inscrire</a>
                        {% endif %}
                        {% if is_granted('SORTIE_EDIT', sortie) %}
                            <a href="{{ path('app_sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                            {% if sortie.etat.libelle == 'En création' %}
                                <a href="">Publier</a>
                            {% elseif sortie.etat.libelle == 'Ouverte' and sortie.dateHeureDebut > date()%}
                                <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalRetourAction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalRetourActionTitre">Gestion de son inscription</h1>
                </div>
                <div class="modal-body">
                    <p id="modalRetourActionContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
