{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div>
        <h1>Listes des sorties</h1>

        <div class="col-sm-12">
            <h3 class="">Filtrer les sorties</h3>
            <div>
                <div>
                    <label for="form_sortie_campus">Campus</label>
                    <select name="form_sortie_campus" id="form_sortie_campus" class="form-control">
                        <option value="" selected>Tous les campus</option>
                        {% for campus in campusList %}
                            <option value="{{ campus.id }}">{{ campus.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="form_sortie_nom">Le nom de la sortie contient</label>
                    <input id="form_sortie_nom" name="form_sortie_nom" type="text" class="form-control">
                </div>
                <div>
                    <label for="form_sortie_date_debut">Du</label>
                    <input name="form_sortie_date_debut" id="form_sortie_date_debut" type="date" class="form-control">
                </div>
                <div>
                    <label for="form_sortie_date_fin">au</label>
                    <input name="form_sortie_date_fin" id="form_sortie_date_fin" type="date" class="form-control">
                </div>
                <div>
                    <input type="checkbox" id="form_sortie_organisateur" name="form_sortie_organisateur">
                    <label for="form_sortie_organisateur">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" id="form_sortie_inscrit" name="form_sortie_inscrit">
                    <label for="form_sortie_inscrit">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="form_sortie_non_inscrit" name="form_sortie_non_inscrit">
                    <label for="form_sortie_non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="form_sortie_passee" name="form_sortie_passee">
                    <label for="form_sortie_passee">Sorties passées</label>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                <tr
                    class="ligne_sortie"
                    id="sortie_{{ loop.index }}"
                    data-nom="{{ sortie.nom }}"
                    data-campus="{{ sortie.campus.id }}"
                    data-date="{{ sortie.dateHeureDebut|date('U') }}"
                    data-organisateur="{{ (app.user.id == sortie.organisateur.id) ? '1':'0' }}"
                    data-participant="{{ (app.user in sortie.participants) ? '1':'0' }}"
                >
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut |format_datetime('short', 'short', locale: 'fr') }}</td>
                    <td>{{ sortie.dateLimiteInscription |format_datetime('short', 'short', locale: 'fr') }}</td>
                    <td>{{ sortie.participants | length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{{ (app.user in sortie.participants) ? 'x':'' }}</td>
                    <td>{{ sortie.organisateur.nom|upper ~ ' ' ~ sortie.organisateur.prenom }}</td>
                    <td>
                        <a>Afficher</a>
                        {% if app.user in sortie.participants %}
                            <a>Se désister</a>
                        {% endif %}
                        {% if app.user == sortie.organisateur %}
                            <a>Modifier</a>
                            {% if sortie.etat.libelle == 'En création' %}
                                <a>Publier</a>
                            {% elseif sortie.etat.libelle == 'Ouvert' %}
                                <a>Annuler</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
