{% extends 'base.html.twig' %}

{% block title %}
    Modifier sortie
{% endblock %}
{% block body %}
    <h1 class="mb-4">Formulaire de sortie</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionsMax) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.infosSortie) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.campus) }}
            <div class="d-flex align-items-center gap-2">
                {{ form_row(form.lieu) }}
                <a href="{{ path('app_lieu_creer',{'from':fromParameter,'id':sortie.id}) }}" class="btn mt-4">
                    <i class="fa-2x fa-regular fa-square-plus"></i>
                </a>
            </div>
            {{ form_row(form.rue) }}
            {{ form_row(form.code_postal) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
    {{ form_end(form) }}
    <a class="btn-danger" href="{{ path('_supprimer',{'id':sortie.id}) }}">supprimer</a>
{% endblock %}


